
@font-face {
    font-family: Barlow-Bold;
    src: url(../Fonts/BarlowSemiCondensed-Bold.ttf);
}
@font-face {
    font-family: Barlow-Regular;
    src: url(../Fonts/BarlowSemiCondensed-Regular.ttf);
}
@font-face {
    font-family: SchibstedGrotesk-Bold;
    src: url(../Fonts/SchibstedGrotesk-Bold.ttf);
}
@font-face {
    font-family: SchibstedGrotesk-Regular;
    src: url(../Fonts/SchibstedGrotesk-Regular.ttf);
}


* {
    box-sizing: border-box;
    /* To calculate padding from the same size of width not additional. */
    margin: 0px;
}
.CLR{
    clear: both;
}

/* <!-- Navbar at the top --> */
.NavigatorBar{
    background-color: white;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 9999;
    border-bottom: solid;
    border-width: 1px;
    border-color: #c7c6c6b4;
}
.logo{
    float: left;
    width: 33.3%;

}
.logo img{
    width: 32px;
    float: left;
    margin: 20px 14px 20px 16px;

}
.LogoText a, .Nav ul li a{
    text-decoration: none;
    color: #232323;
}
.LogoText a{
    margin-left: 0;
    padding-left: 0;
}
.LogoText{
    padding-top: 21px;
    font-family: Barlow-Regular;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}
.Nav ul{
    list-style-type: none;
}
.Nav ul li a{
    color: #232323;
    float: left;
    padding: 22px 0px 22px 60px;
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}
.Buybtn{
    float: right;
    margin: 7px 23px;
    padding: 12px 31px;
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border-color: black;
    border: solid;
}

/* <!-- Home --> */
.BKHome{
    background-image: url(/images/mbr-1920x1184.jpg);
    background-size: cover;
    height: 105vh;
    background-position-y: -65px;
}

.Home{
    background-color: rgba(68, 68, 68, 0.445);
    color: white;
}
.HomeContainer{
    width: 95%;
    height: 105vh;
    margin: auto;
}
.HomeContainer H3 {
    padding-top: 230px;
}
.HomeContainer H3, .HomeContainer .ChoiceP{
    font-family: SchibstedGrotesk-Bold;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}
.HomeContainer .TemplateP{
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.HomeContainer H1{
    font-family: Barlow-Bold;
    padding: 17px 0 25px;
    font-size: 72px;
    font-weight: 700;
    line-height: 79px;
}
.HomeContainer .ChoiceP{
    padding-bottom: 131px;
}

/* <!-- Buttons Sections (Shipping, Return and Payments) --> */
.BtnSection{
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    line-height: 27px;
    color: rgb(36, 38, 43);
}
.BtnContainer{
    width: 80%;
    margin: auto;
    text-align: center;
}
.BtnShipping{
    float: left;
    margin: 0px 250px 0px 0;
}
.BtnReturn{
    float: left;
    margin: 10px 250px 0px 0;
}
.BtnPayment{
    margin: 40px 0 0px 0;
}
.BtnShipping H3{
    margin: 25px 0 10px;
    font-weight: 700;
}
.BtnReturn H3{
    margin: 30px 0 10px;
    font-weight: 700;
}
.BtnPayment H3{
    margin: 15px 0 10px;
    font-weight: 700;
}
.BtnShipping P{
    margin: 0 0 15px 0;
    font-weight: 400;
}
.BtnReturn P{
    margin: 0 0 11px 0;
    font-weight: 400;
}
.BtnPayment P{
    margin: 0 0 15px 0;
    font-weight: 400;
}
.BtnShipping button, .BtnReturn button, .BtnPayment button{
    margin: 0 0 50px 0;
    padding: 10px 30px 10px 20px;
    background-color:  rgb(36, 38, 43);
    color: white;
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border: solid;
    border-color:  rgb(36, 38, 43);
    border-radius: 3px;
}

/* <!--  Products per Section --> */
.ProductsSections{
    background-color: #EFEFEF;
    height: 190vh;
}
.ProductsContainer{
    width:95%;
    margin: auto;
}
.ProductsLeft, .ProductsRight{
    position: relative;
    padding-top: 45px;
    width: 48.5%;
}
.ProductsLeft{
    color:white;
    float: left;
}
.ProductsRight{
    color:black;
    float: right;
}
.ProductsLeft-img, .ProductsRight-img {
    background-size:cover;
    width: 100%;
    height: 380px;
}
.ProductsLeft-img{
    background-image: url(../images/BlueTowel.jpg);
    float: left;
}
.ProductsRight-img{
    background-image: url(../images/WoolThread.jpg);
}
.ProductsLeft-Content,.ProductsRight-Content {
    position: absolute;
    left:30px;
    top:30px;
    margin-top: 35px;
}

.ProductsLeft-Content H2, .ProductsRight-Content H2 {
    font-family: Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
}
.ProductsLeft-Content P,.ProductsLeft-Content button, .ProductsRight-Content P,.ProductsRight-Content button {
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin: 20px 0px 25px 0;
}
.ProductsRight-Content P{
    margin: 20px 0px 80px 0;
}
.ProductsLeft-Content button, .ProductsRight-Content button {
    padding: 10px 30px 10px 20px;
    background-color:  rgb(36, 38, 43);
    color: white;
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    border: solid;
    border-color:  rgb(36, 38, 43);
    border-radius: 3px;
}
/* <!-- Interior Designer Section --> */
.InteriorDesignsGroup{
    text-align: center;
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    line-height: 27px;
    color: rgb(36, 38, 43);
}
.InteriorDesignLeft-01, .InteriorDesignLeft-02, .InteriorDesignRight-03,.InteriorDesignRight-04{
    width:25%;
    height: 600px;
}
.InteriorDesignLeft-01, .InteriorDesignLeft-02, .InteriorDesignRight-03 {
    padding: 100px 30px 20px 0px;
}
.InteriorDesignLeft-02{
    padding: 100px 30px 20px 0px;
}
.InteriorDesignRight-03{
    padding: 100px 0px 20px 30px;
}
.InteriorDesignRight-04{
    padding: 100px 0px 20px 0px;
}
.InteriorDesignLeft{
    padding: 100px 30px 20px 0px;
}
.InteriorDesignRight{
    padding: 100px 0px 20px 30px;
}
.InteriorDesignLeft-01, .InteriorDesignLeft-02{
    float: left;
}
.InteriorDesignRight-03,.InteriorDesignRight-04{
    float: right;
}

.InteriorDesignLeft-01 img, .InteriorDesignLeft-02 img, .InteriorDesignRight-03 img,.InteriorDesignRight-04 img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.InteriorDesignLeft-01 P, .InteriorDesignLeft-02 P, .InteriorDesignRight-03 P,.InteriorDesignRight-04 P{
    font-weight: 400;
    margin-top: 20px;
}
.InteriorDesignLeft-01 H4, .InteriorDesignLeft-02 H4, .InteriorDesignRight-03 H4,.InteriorDesignRight-04 H4{
    font-weight: 700;
}

/* <!-- Wide Rabge Section --> */
.WideRangeContainer{
    width: 95%;
    margin: auto;
}
.BestCoice, .ThreadsIMG, .Loyality, .Questions{
    width: 23%;
    height: 340px;
    float: left;
    margin: 50px 10px;
}
.BestCoice{
    padding: 0 30px;
}
.BestCoice h3{
    margin: 60px 0 20px;
    color: rgb(118, 118, 118);
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700

}
.BestCoice H2{
    color: black;
    font-family: Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 40px;
}
.BestCoice button{
    border: none;
    background-color: transparent;
    border-bottom: solid;
    border-width:thin;
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600
}
.fa-chevron-right{
    font-size: 23px;
}
.ThreadsIMG img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.Loyality{
    background-color: #E7D8D6;
    padding: 0 30px;
}
.Loyality h3{
    margin: 60px 0 20px;
    color: rgb(118, 118, 118);
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700

}
.Loyality H2{
    color: black;
    font-family: Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 40px;
}
.Questions{
    padding: 0 30px;
    color:  rgb(36, 38, 43);
}
.Questions h3{
    margin: 60px 0 20px;
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700
}
.Questions P{
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 40px;
}
.Questions button{
    background-color: black;
    color: white;
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    padding: 10px 30px 10px 20px;
}

/* <!-- Features  --> */
.Features{
    margin: 50px 0;
}
.FeaturesContainer{

    width: 95%;
    margin: auto;
    height: 60vh;
}
.FeaturesContainer H2{
    color: black;
    font-family: Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}
.FeaturesLeft{
    width: 49%;
    float: left;
}
.FeaturesLeft h3{
    float: left;
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: rgb(36, 38, 43);
    margin: 30px 0 5px 0;
}
.FeaturesLeft p{
    float: right;
    font-family: SchibstedGrotesk-Regular;
    margin: 30px 0 5px 0;
}
.ShippingGoldRectangle, .CSGoldRectangle{
    width: 70%;
    height: 10px;
    background-color: #B79B6C;
    float: left;

}
.ShippingGreyRectangle, .CSGreyRectangle{
    width: 30%;
    height: 10px;
    background-color: #E9E9E9;
    margin-left: 439px;
}

.ReturnGoldRectangle{
    width: 65%;
    height: 10px;
    background-color: #B79B6C;
    float: left;
}
.ReturnGreyRectangle{
    width: 35%;
    height: 10px;
    background-color: #E9E9E9;
    margin-left: 408px;
}

.FeaturesRight{
    width: 49%;
    float: right;

}
.FeaturesRight h3{
    float: left;
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    color: rgb(36, 38, 43);
    margin: 30px 0 5px 0;
}
.FeaturesRight p{
    font-family: SchibstedGrotesk-Regular;
    float: right;
    margin: 30px 0 5px 0;
}
.PayGoldRectangle{
    width: 70%;
    height: 10px;
    background-color: #B79B6C;
    float: left;
}
.PayGreyRectangle{
    width: 30%;
    height: 10px;
    background-color: #E9E9E9;
    margin-left: 439px;
}

.VarietyGoldRectangle{
    width: 80%;
    height: 10px;
    background-color: #B79B6C;
    float: left;
}
.VarietyGreyRectangle{
    width: 20%;
    height: 10px;
    background-color: #E9E9E9;
    margin-left: 503px;
}
.PQGoldRectangle{
    width: 95%;
    height: 10px;
    background-color: #B79B6C;
    float: left;
}
.PQGreyRectangle{
    width: 5%;
    height: 10px;
    background-color: #E9E9E9;
    margin-left: 597px;
}

/* <!-- Numbers  --> */
.Numbers{
    background-color: #33363B;
    width: 100%;
    height: 220px;
}
.fa-check{
    font-size: 48px;
    color: rgb(183, 155, 108);
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

.HappyCustomers, .SalesPerMonth, .RegularCustomers, .DeliveryPoints{
    float: left;
    width: 22%;
    margin-left: 30px;
    margin-top: 30px;

}
.HappyCustomers H2, .SalesPerMonth H2, .RegularCustomers H2, .DeliveryPoints H2{
    color: white;
    font-family: Barlow-Bold;
    font-size: 72px;
    font-weight: 700;
    line-height: 79px;
    margin-bottom: 20px;
}
.HappyCustomers H3, .SalesPerMonth H3, .RegularCustomers H3, .DeliveryPoints H3{
    color: white;
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 20px;
}

/* <!-- Customer reviews  --> */

.CustomerReviewsHeader H2, .CustomerReviewsHeader P{
    text-align: center;
    color: rgb(36, 38, 43);
}
.CustomerReviewsHeader H2{
    font-family:  Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    margin: 40px 0 15px 0;
}
.CustomerReviewsHeader P{
    font-family: SchibstedGrotesk-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 30px ;
}
.CustomerReviewsSections {
    width:95%;
    margin: auto;

}
.fa-star{
    color: #B79C81;
}
.Review{
    background-color: #EFEFEF;
    width: 22%;
    padding: 40px 30px 20px;
    float: left;
    margin: 0 15px;
    height: 360px;

}
.Review H3{
    font-family: SchibstedGrotesk-Bold;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    margin: 20px 0 20px 0;
}

.Review P{
    font-family: SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
}

.Review H4{
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 30px;
}

/* <!-- Product with Magnifier  --> */
.ProductsMagnifier{
    background-color: #EFEFEF;
    width: 100%;
    height: 66vh;
    margin: 50px 0px;
}
.ProductMagContainer{
    width: 95%;
    margin: auto;

}
.MagnifierIMG{
    width:31%;
    height: 305px;
    float: left;
    margin: 50px 10px;

}
.MagnifierIMG img{
    width:100%;
    height: 100%;
    object-fit: cover;

}

/* <!-- Share Depo  --> */
.ShareDepoHeader{
    text-align: center;
    color: rgb(36, 38, 43);
}
.ShareDepoHeader h2{
    font-family:  Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    margin: 0px 0 15px 0;
}

.ShareDepoHeader p{
    font-family: SchibstedGrotesk-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 30px ;
}
.ShareDepoIMGs{
    margin: auto;
    width: 100%;
    height: 50vh;
 
}
.Depo-img{
    width: 16.666%;
    height: 100%;
    float: left;
}
.Depo-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    float: left;
}

/* <!-- Unique Style  --> */
.UniqueStyle{
    margin: 90px 0;
}
.UniqueContainer{
    width: 95%;
    margin: auto;
}
.UniqueLeft{
    background-color: rgb(239, 239, 239);
    color:     rgb(36, 38, 43);
    width: 33%;
    height: 75vh;
    padding: 40px 30px 30px;
    float: left;
}
.UniqueLeft H3{
    font-family: SchibstedGrotesk-Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-bottom: 20px;
}
.UniqueLeft H2{
    font-family:  Barlow-Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 15px;
}
.UniqueLeft P{
    font-family:  SchibstedGrotesk-Regular;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 30px;
}
.UniqueLeft input{
    padding: 10px 0px 10px 15px;
    font-family:  SchibstedGrotesk-Regular; 
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
}
.UniqueLeft button{
    margin-left: -48px;
    padding: 10px 20px;
    color: white;
    background-color: #232323;
    font-family:  SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;

}

.UniqueRight{
    width: 64%;
    height: 75vh;
    float: right;
}
.UniqueRight img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* <!-- Footer  --> */
.Footer{
    margin-top: 45px;
    background-color: #33363B;
    width: 100%;
    height: 25vh;

}
.FooterContainer{
    width: 95%;
    margin: auto;
    padding-top: 20px;
}
.Line{
    margin-top: 10px;
    width: 100% ;
    height: 1px;
    background-color: rgba(193, 193, 193, 0.295);
}

.FooterContent p{
    margin-top: 30px;
    color: rgb(193, 193, 193);
    font-family:  SchibstedGrotesk-Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 40px;
    
}
@media screen and (max-width:600px) {
  
}

@media screen and (min-width:601px) and (max-width:1176px) {
   
}
